html{
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before{
    box-sizing: inherit;
  }
  
  ul[class],
  ol[class] {
    padding: 0;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  ul[class] {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  a{
    text-decoration: none;
  }
  
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.calculator__left{
  width: 500px;
}
.calculator{
    margin-top: 100px;
    font-size: 20px;
}
.calculator-block{
    display: flex;
}
.calculator__item{
    display: flex;
    column-gap: 20px;
}

.calculator__box-input{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}
.calculator__checkbox{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: block;
    margin-top: 7px; 
}
.calculator__checkbox-blue{
    background-color: #00aeef;
}
.calculator__checkbox-red{
    background-color: red;
}
.calculator__checkbox-green{
    background-color: green;
}
.calculator__box-input:checked+.calculator__checkbox{
    background-image: url('../img/beton.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.calculator__right-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calculator__right-name{
  font-size: 30px;
  font-weight: 700;
}
.calculator__params{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.calculator__params-item{
  width: 100%;
}
.calculator__sbros{
  display: flex;
  justify-content: space-between;
}
.calc__price,
.calc__sbros{
  margin-top: 10px;
  width: 200px;
  height: 50px;
  border: 1px solid #000;
}
.show{
    display: flex;
}
.hide{
    display: none;
}
select{
  margin-top: 30px;
  width: 100%;
}