html{
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before{
    box-sizing: inherit;
  }
  
  ul[class],
  ol[class] {
    padding: 0;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  ul[class] {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  a{
    text-decoration: none;
  }
  
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.menu{
    font-size: 22px;
}
.header{
    display: flex;
}
.menu__list{
    display: flex;
}
.menu__list-item + .menu__list-item{
    margin-left: 20px;
}


/* КНОПКА НА ВВЕРХ */
.btnUp{
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  /* display: none; */
  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;
}

.btnUp-visible{
  /* display: block; */
  opacity: 1;
  pointer-events: auto;
}




.nav-icon{
    width: 35px;
    height: 30px;
    display: none;
}
.nav-icon__middle{
    position: relative;
    width: 35px;
    height: 3px;
    background-color: black;
    transition: all .2s ease-in;
}
.nav-icon__middle::after,
.nav-icon__middle::before{
    position: absolute;
    content: '';
    width: 35px;
    height: 3px;
    background-color: black;
}
.nav-icon__middle::after{
    bottom: 11px;
    transition: all .2s ease-in;
}
.nav-icon__middle::before{
    top: 11px;
    transition: all .2s ease-in;
}

.nav-icon.nav-icon--active .nav-icon__middle{
    background-color: transparent;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::after{
    transform: rotate(45deg);
    bottom: 0;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::before{
    transform: rotate(-45deg);
    top: 0; 
    transition: all .2s ease-in;
}





@media(max-width:800px){
    .menu{
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: aquamarine;
        left: 0;
        top: 0;
        transition: all .4s ease-in;
        transform: translateX(-100%);
    }
    .menu.nav--active{
        transform: translateX(0);
    }
    .nav-icon{
        display: block;
        margin-left: auto;
    }
    .menu__list{
        flex-direction: column;
        padding: 30px !important;
    }
    .menu__list-item + .menu__list-item{
        margin-left: 0px;
    }
    .menu__list-item{
        margin-bottom: 20px;
    }
}


.contact{
    background-color: blue;
    color: aliceblue;
    border: none;
    padding: 20px;
}
.logo{
    background-color: blueviolet;
    color: aliceblue;
    padding: 20px;
    border: none;
}


.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(237, 241, 241, 0.8);
    overflow: hidden;
}

.modal__inner {
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.modal-form {
    padding: 50px;
    width: 500px;
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-form__input {
    margin-bottom: 20px;
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border: none;
}
.modal-form__btn{
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    border: none;
    cursor: pointer;
}
.modal-form__close{
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    border: 1px solid #000;
    cursor: pointer;
}
.modal__close{
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.modal{
    display: none;
}




/* аккардеон */
.accardion{
    margin-top: 100px;
}
.accardion__item {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
    cursor: pointer;
}
.accardion__item-title {
    position: relative;
    display: flex;
    align-items: center;
}
.accardion__item-title::after{
    position: absolute;
    content: "\002B";
    right: 0;
    font-size: 25px;
    font-weight: 700;
    transition: transform .3s ease-in;
}

.accardion__item-title.open::after {
    /* content: "\2212"; */
    transform: rotate(90deg);
    transition: transform .3s ease-in;
  }
.accardion__item-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}
.accardion__item-content{
    padding: 20px;
    padding-left: 0;
}




/* TABS */
.tabs{
    margin-top: 100px;
    text-align: center;
}

.tabs__item-btn {
    width: 200px;
    padding: 20px;
}
.tabs__content {
    margin-top: 10px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.tabs__content-text {
}
.active{
    background-color: blue;
}
.hide{
    display: none;
}
.show{
    display: block;
}


 /* Таймер */
 .promotion {
    padding: 170px 0 240px 0;
    position: relative;
}
.promotion .bgc_y {
    position: absolute;
    width: 50%;
    height: 499px;
    background: rgba(243,255,222,.35);
    z-index: -1;
    top: -50px;
    left: 0;
}
.promotion__text {
    width: 50%;
}
 .promotion__timer .timer {
    margin-top: 60px;
    padding-left: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
 .promotion__timer .timer__block {
    width: 102px;
    height: 120px;
    background: #fff;
    box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
 }
 .containerr{
    display: flex;
 }
 .title {
    font-size: 36px;
    font-weight: 400;
}
.promotion__descr {
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
}
 .promotion__timer .timer__block span {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 56px;
    font-weight: 700;
}
.promotion__timer .timer__block {
    width: 102px;
    height: 120px;
    background: #fff;
    box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}


/* IMAGES */
.row{
    padding-bottom: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.row::before,
.row::after{
    display: none;
}
.row__item{
    width: 25%;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.row__img{
    margin-bottom: 30px;
}

.popup::after,
.popup::before{
    position: absolute;
    display: block;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #fff;
    z-index: 999;
}
.popup::after{
    right: 26px;
    top: 26px;
    transform: rotate(45deg);
}
.popup::before{
    right: 26px;
    top: 26px;
    transform: rotate(-45deg);
}



/* CALC */
.calc {
    padding: 8rem 0 4rem 0;
    /* Making it beautiful */
  
  }
  .calc h2,
  .calc .p-heading {
    text-align: center;
  }
  .calc h2 {
    margin-bottom: 9rem;
  }
  .calc h4 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .calc select {
    opacity: 0.6;
    font-family: 'Circe Extra Bold', sans-serif;
    margin-left: 4rem;
    appearance: none;
    border: none;
    display: block;
    font-size: 1.9rem;
    padding: 2rem 0;
  }
  .calc .promocode {
    opacity: 0.6;
    font-family: 'Circe Extra Bold', sans-serif;
    margin-left: 4rem;
    appearance: none;
    border: none;
    display: block;
    font-size: 1.9rem;
    padding: 2rem 0;
  }
  .calc #size {
    margin-top: 3rem;
  }
  .calc-price {
    background-color: #f7e7e6;
    padding: 4rem 7.5rem;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: -1000;
  }
  .calc .button-order {
    margin-top: 6rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .calc-text {
    margin-left: 2rem;
    margin-right: -2rem;
    text-align: justify;
  }
  .calc .file_upload {
    position: relative;
    overflow: hidden;
    font-size: 1em;
    /* example */
  
    height: 4em;
    /* example */
  
    line-height: 2em /* the same as height */
  ;
  }
  .calc .file_upload > button {
    float: right;
    width: 8em;
    /* example */
  
    height: 100%;
  }
  .calc .file_upload > div {
    padding-left: 1em /* example */
  ;
  }
  .calc .file_upload input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;
    /* IE 9 fix */
  
    -ms-transform: scale(20);
    /* IE 9 fix */
  
    opacity: 0;
    cursor: pointer;
  }
  .calc .file_upload > button {
    transition: background 0.2s;
    border-radius: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: transparent;
    font-size: 1.5rem;
    color: #c51abb;
    border: 2px dashed #c51abb;
    padding: 1.5rem;
  }
  .calc .file_upload > button:before {
    content: '';
    background: url("../img/camera.svg") no-repeat center;
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    position: relative;
    top: 3px;
    right: 2px;
    background-size: 100%;
  }




/* STYLES */
.styles {
    position: relative;
  }
  .styles .p-heading {
    text-align: center;
  }
  .styles h2 {
    text-align: center;
    margin-bottom: 8rem;
  }
  .styles-block {
    padding: 3rem;
    background-color: #f7e7e6;
    margin-bottom: 3rem;
  }
  .styles-block img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  .styles-block img:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .styles-block h4 {
    margin-top: 2rem;
    text-align: center;
  }
  .styles-block a {
    text-align: center;
    display: block;
    text-decoration: underline;
    color: #c51abb;
  }
  .styles .button-transparent {
    margin-top: 8rem;
    margin-bottom: 6rem;
  }
  .styles .button-transparent:before {
    background: url("../img/reload.svg") no-repeat center;
    background-size: 100%;
    margin-right: 1rem;
  }
  .styles .paints {
    position: absolute;
    bottom: -25rem;
    left: 0;
  }
  .button-transparent {
    background-color: transparent;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    color: #c51abb;
    border: 2px solid #c51abb;
  }
  .row{
    gap: 0px;
    padding-bottom: 100px;
  }
  .button {
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    font-family: 'Circe Bold', sans-serif;
}




/* SIZE */
.sizes h2,
.sizes .p-heading {
  text-align: center;
}
.sizes-wrapper {
  margin-top: 9rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sizes-wrapper-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.sizes-block {
  position: relative;
}
.sizes-block img {
  max-width: 100%;
}
.sizes-block p {
  position: absolute;
  text-align: center;
  width: 100%;
}
.sizes-block .size {
  top: 3rem;
  font-size: 2.4rem;
  color: #86b7d2;
  font-family: 'Circe Bold', sans-serif;
}
.sizes-block .starting-price {
  bottom: 7rem;
  text-decoration: line-through;
}
.sizes-block .final-price {
  bottom: 4rem;
  font-size: 1.8rem;
  font-family: 'Circe Extra Bold', sans-serif;
  color: black;
}
.sizes-block .sizes-hit {
  width: auto;
  display: inline-block;
  background-color: #f99300;
  color: #ffffff;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  left: 6rem;
  bottom: -2.5rem;
  font-family: 'Circe Bold', sans-serif;
}
